 /* Imports */
 *
 {
    margin: 0;
 }
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
body{
    background: linear-gradient(to right,rgb(122, 204, 246), rgb(35, 76, 190));
    align-items: center;
}

.container
{
    height: auto;
    width: 60vw;
    border: 5px solid #fff;
    border-radius: 9px;
    margin:10% auto 0 auto;
}
.logo{
    height: 250px;
    width: auto;
    margin: 0 auto;
    display: block;
}
.notice
{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    margin : 40px 0 45px 10px;
}
.construction
{
    height: 90px;
    margin : -10px 10px 0 10px;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    display:block;
    margin: 2vh auto 2vh auto;
    text-align: center;
}
span{
    color: white;
    text-shadow: 0px 0px 1px black;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: #fff;
}

@media only screen and (max-width: 768px){
    .container{
        width: 100vw;
        border: none;
    }
    .logo{
        height: 175px;
    }
    h1
    {
        font-size: 2rem;
    }
    h2
    {
        font-size: .9rem;
    }
    .construction{
        height: 60px;
    }
}